.elementor-7271 .elementor-element.elementor-element-2712c116.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7271 .elementor-element.elementor-element-bae942c {
    --spacer-size: 5vh;
}

.elementor-7271 .elementor-element.elementor-element-503c9cfc {
    width: auto;
    max-width: auto;
}

.elementor-7271 .elementor-element.elementor-element-503c9cfc>.elementor-widget-container {
    background-color: var( --e-global-color-vamtam_accent_2);
    margin: 0px 0px 20px 0px;
    padding: 4px 9px 6px 9px;
    border-radius: 4px 4px 4px 4px;
}

.elementor-7271 .elementor-element.elementor-element-503c9cfc .elementor-heading-title {
    color: var( --e-global-color-vamtam_accent_3);
    font-family: var( --e-global-typography-be24d1a-font-family), Sans-serif;
    font-size: var( --e-global-typography-be24d1a-font-size);
    font-weight: var( --e-global-typography-be24d1a-font-weight);
    text-transform: var( --e-global-typography-be24d1a-text-transform);
    font-style: var( --e-global-typography-be24d1a-font-style);
    line-height: var( --e-global-typography-be24d1a-line-height);
    letter-spacing: var( --e-global-typography-be24d1a-letter-spacing);
    word-spacing: var( --e-global-typography-be24d1a-word-spacing);
}

.elementor-7271 .elementor-element.elementor-element-25d466f {
    text-align: center;
}

.elementor-7271 .elementor-element.elementor-element-879288b>.elementor-widget-container {
    margin: 0em 0em 0em 0em;
}

.elementor-7271 .elementor-element.elementor-element-879288b .elementor-widget-container {
    text-align: center;
    font-size: var( --e-global-typography-2621617-font-size);
    font-weight: var( --e-global-typography-2621617-font-weight);
    text-transform: var( --e-global-typography-2621617-text-transform);
    font-style: var( --e-global-typography-2621617-font-style);
    line-height: var( --e-global-typography-2621617-line-height);
    letter-spacing: var( --e-global-typography-2621617-letter-spacing);
    word-spacing: var( --e-global-typography-2621617-word-spacing);
}

.elementor-7271 .elementor-element.elementor-element-badea6b {
    --spacer-size: 1vh;
}

.elementor-7271 .elementor-element.elementor-element-e6b8707 {
    border-style: solid;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-7271 .elementor-element.elementor-element-e6b8707>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7271 .elementor-element.elementor-element-5511272:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated,
.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated>.elementor-background-overlay,
.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-background-slideshow {
    border-radius: 4px 4px 4px 4px;
}

.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7271 .elementor-element.elementor-element-0d437b7 {
    --spacer-size: 36vh;
}

.elementor-7271 .elementor-element.elementor-element-19b238b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7271 .elementor-element.elementor-element-4183bc03.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-7271 .elementor-element.elementor-element-ff5ee14>.elementor-container {
    max-width: 1320px;
}

.elementor-7271 .elementor-element.elementor-element-ff5ee14 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-7271 .elementor-element.elementor-element-503c9cfc .elementor-heading-title {
        font-size: var( --e-global-typography-be24d1a-font-size);
        line-height: var( --e-global-typography-be24d1a-line-height);
        letter-spacing: var( --e-global-typography-be24d1a-letter-spacing);
        word-spacing: var( --e-global-typography-be24d1a-word-spacing);
    }
    .elementor-7271 .elementor-element.elementor-element-879288b .elementor-widget-container {
        font-size: var( --e-global-typography-2621617-font-size);
        line-height: var( --e-global-typography-2621617-line-height);
        letter-spacing: var( --e-global-typography-2621617-letter-spacing);
        word-spacing: var( --e-global-typography-2621617-word-spacing);
    }
    .elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated,
    .elementor-7271 .elementor-element.elementor-element-5511272>.elementor-element-populated>.elementor-background-overlay,
    .elementor-7271 .elementor-element.elementor-element-5511272>.elementor-background-slideshow {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-7271 .elementor-element.elementor-element-ff5ee14 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-7271 .elementor-element.elementor-element-2712c116>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 15px;
    }
    .elementor-7271 .elementor-element.elementor-element-bae942c {
        --spacer-size: 0vh;
    }
    .elementor-7271 .elementor-element.elementor-element-503c9cfc .elementor-heading-title {
        font-size: var( --e-global-typography-be24d1a-font-size);
        line-height: var( --e-global-typography-be24d1a-line-height);
        letter-spacing: var( --e-global-typography-be24d1a-letter-spacing);
        word-spacing: var( --e-global-typography-be24d1a-word-spacing);
    }
    .elementor-7271 .elementor-element.elementor-element-879288b .elementor-widget-container {
        font-size: var( --e-global-typography-2621617-font-size);
        line-height: var( --e-global-typography-2621617-line-height);
        letter-spacing: var( --e-global-typography-2621617-letter-spacing);
        word-spacing: var( --e-global-typography-2621617-word-spacing);
    }
    .elementor-7271 .elementor-element.elementor-element-0d437b7 {
        --spacer-size: 25vh;
    }
    .elementor-7271 .elementor-element.elementor-element-ff5ee14 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}