.elementor-1714 .elementor-element.elementor-element-fe7b3da:not(.elementor-motion-effects-element-type-background),
.elementor-1714 .elementor-element.elementor-element-fe7b3da>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-vamtam_accent_7);
}

.elementor-1714 .elementor-element.elementor-element-fe7b3da:hover {
    background-color: var( --e-global-color-vamtam_accent_8);
}

.elementor-1714 .elementor-element.elementor-element-fe7b3da,
.elementor-1714 .elementor-element.elementor-element-fe7b3da>.elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}

.elementor-1714 .elementor-element.elementor-element-fe7b3da {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 25px 25px 25px;
}

.elementor-1714 .elementor-element.elementor-element-fe7b3da>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1714 .elementor-element.elementor-element-e2cf7ab>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-1714 .elementor-element.elementor-element-e2cf7ab .elementor-element-populated .elementor-heading-title {
    color: var( --e-global-color-vamtam_accent_2);
}

.elementor-1714 .elementor-element.elementor-element-e2cf7ab>.elementor-element-populated {
    color: #F5F5F5;
}

.elementor-1714 .elementor-element.elementor-element-5112be9>.elementor-widget-container {
    margin: 0px 0px 8px 0px;
}

.elementor-1714 .elementor-element.elementor-element-a4dcfc2>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-1714 .elementor-element.elementor-element-a4dcfc2 {
    color: var( --e-global-color-8a42445);
    font-size: var( --e-global-typography-0306bf1-font-size);
    font-weight: var( --e-global-typography-0306bf1-font-weight);
    text-transform: var( --e-global-typography-0306bf1-text-transform);
    font-style: var( --e-global-typography-0306bf1-font-style);
    line-height: var( --e-global-typography-0306bf1-line-height);
    letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
    word-spacing: var( --e-global-typography-0306bf1-word-spacing);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-title {
    border-width: 0px;
    padding: 0px 0px 15px 0px;
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-content {
    border-width: 0px;
    color: var( --e-global-color-vamtam_accent_4);
    font-family: var( --e-global-typography-vamtam_primary_font-font-family), Sans-serif;
    font-size: var( --e-global-typography-vamtam_primary_font-font-size);
    font-weight: var( --e-global-typography-vamtam_primary_font-font-weight);
    text-transform: var( --e-global-typography-vamtam_primary_font-text-transform);
    font-style: var( --e-global-typography-vamtam_primary_font-font-style);
    line-height: var( --e-global-typography-vamtam_primary_font-line-height);
    letter-spacing: var( --e-global-typography-vamtam_primary_font-letter-spacing);
    word-spacing: var( --e-global-typography-vamtam_primary_font-word-spacing);
    padding: 20px 0px 0px 0px;
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-item:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-title,
.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-icon {
    color: var( --e-global-color-vamtam_accent_2);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-icon svg {
    fill: var( --e-global-color-vamtam_accent_2);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-title {
    font-size: var( --e-global-typography-0306bf1-font-size);
    font-weight: var( --e-global-typography-0306bf1-font-weight);
    text-transform: var( --e-global-typography-0306bf1-text-transform);
    font-style: var( --e-global-typography-0306bf1-font-style);
    line-height: var( --e-global-typography-0306bf1-line-height);
    letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
    word-spacing: var( --e-global-typography-0306bf1-word-spacing);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-title .elementor-toggle-icon i:before {
    color: var( --e-global-color-vamtam_accent_3);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-title .elementor-toggle-icon svg {
    fill: var( --e-global-color-vamtam_accent_3);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
    color: var( --e-global-color-vamtam_accent_3);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-title.elementor-active .elementor-toggle-icon svg {
    fill: var( --e-global-color-vamtam_accent_3);
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-icon.elementor-toggle-icon-left {
    margin-right: 10px;
}

.elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-icon.elementor-toggle-icon-right {
    margin-left: 10px;
}

@media(max-width:1024px) {
    .elementor-1714 .elementor-element.elementor-element-a4dcfc2 {
        font-size: var( --e-global-typography-0306bf1-font-size);
        line-height: var( --e-global-typography-0306bf1-line-height);
        letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
        word-spacing: var( --e-global-typography-0306bf1-word-spacing);
    }
    .elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-title {
        font-size: var( --e-global-typography-0306bf1-font-size);
        line-height: var( --e-global-typography-0306bf1-line-height);
        letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
        word-spacing: var( --e-global-typography-0306bf1-word-spacing);
    }
    .elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-content {
        font-size: var( --e-global-typography-vamtam_primary_font-font-size);
        line-height: var( --e-global-typography-vamtam_primary_font-line-height);
        letter-spacing: var( --e-global-typography-vamtam_primary_font-letter-spacing);
        word-spacing: var( --e-global-typography-vamtam_primary_font-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-1714 .elementor-element.elementor-element-a4dcfc2 {
        font-size: var( --e-global-typography-0306bf1-font-size);
        line-height: var( --e-global-typography-0306bf1-line-height);
        letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
        word-spacing: var( --e-global-typography-0306bf1-word-spacing);
    }
    .elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-toggle-title {
        font-size: var( --e-global-typography-0306bf1-font-size);
        line-height: var( --e-global-typography-0306bf1-line-height);
        letter-spacing: var( --e-global-typography-0306bf1-letter-spacing);
        word-spacing: var( --e-global-typography-0306bf1-word-spacing);
    }
    .elementor-1714 .elementor-element.elementor-element-a7fa0d9 .elementor-tab-content {
        font-size: var( --e-global-typography-vamtam_primary_font-font-size);
        line-height: var( --e-global-typography-vamtam_primary_font-line-height);
        letter-spacing: var( --e-global-typography-vamtam_primary_font-letter-spacing);
        word-spacing: var( --e-global-typography-vamtam_primary_font-word-spacing);
    }
}